[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = {extras = ["resourcegroupstaggingapi", "apigateway", "cloudwatch"], version = "==1.20.32"}
botocore = "==1.23.32"
jsonschema = "==4.16.0"

[dev-packages]
boto3-stubs = {extras = ["resourcegroupstaggingapi", "apigateway", "cloudwatch"], version = "==1.20.32"}
botocore-stubs = "==1.23.32"
types-jsonschema = "==4.16.1.1"
black = "==22.8.0"
flake8 = "==5.0.4"
flake8-docstrings = "==1.6.0"
pep8-naming = "==0.13.2"
flake8-print = "==5.0.0"
isort = "==5.10.1"
mypy = "==0.971"
pytest = "==7.1.3"
pytest-cov = "==3.0.0"
pytest-mock = "==3.8.2"
pytest-freezegun = "==0.4.2"
pytest-env = "==0.6.2"
moto = {extras = ["resourcegroupstaggingapi", "apigateway", "cloudwatch"], version = "==3.1.18"}
openapi-spec-validator = "==0.4.0"
build = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "flake8 --show-source ."
mypy = "mypy ."
test = "pytest --cov=. --cov-branch --cov-report=xml"
build = "python -m build"
